body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-weight: 50;
}

.small-card {
  height: 40vh;
}
/***** Filter Styling *****/

.filter-by{
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 22px;
}

.filter-icons{
  height: 5vh;
  margin: 17px;
}

.hover-icon{
  height: 5vh;
  margin: 17px;
  padding: 1px;
  box-shadow: 0px 2.5px ;
}



/***** End Filter Styling *****/


 /***** FOOTER STYLING *****/
.footerLogo{
  max-height: 80px;
  max-width: 80px;
  color: black;
}

footer{
  display: flex;
  flex-wrap: wrap;

}

.footerTitle{
  justify-content: flex-end;
}

 /*****END FOOTER STYLING *****/
