body {
  margin: 0;
  padding: 0;
  font-family: helvetica !important;
  font-weight: 50;
}

.padding
{
  margin-left: 6px
  }
  .icons{
  height: 28px;
  width: auto;
  padding-left: 4px;
}
.small-card {
  height: 40vh;
}

.menu{
  font-family: "Lato Regular","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
 /***** FOOTER STYLING *****/
.footerLogo{
  max-height: 80px;
  max-width: 80px;
  color: black;
}

footer{
  display: flex;
  flex-wrap: wrap;

}

.footerTitle{
  justify-content: flex-end;
}

 /*****END FOOTER STYLING *****/
